/*
 * Menu bar text controls
 */
.menu {
  float: left;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #999;
  text-decoration: none;
}

/*
 * Create dark grey header with a white logo
 */
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  font-family: 'Monospace';
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Body content layout
 */

 body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  width: 940px;
  margin: 0 auto;
}

#container {
    float: right;
    width: 75%;
}

#sidebar {
    float: left;
    width: 20%;
}

div #sidebar
{
  border:2px solid #a1a1a1;
  padding:10px 20px;
  border-radius:15px;
}
