{% extends "layout.html" %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-3">
    <div class="page-header">
      <h1>Plotting Inputs</h1>
    </div>
    <form method="POST" action="/">
        {{form.hidden_tag()}}
        <p>{{ form.my_slider.label }}: {{ form.my_slider }}</p>
        <p>{% for subfield in form.my_radio %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}</p>
        <input type="submit" value="Go" class="btn btn-md btn-success">
    </form>
  </div>
  <div class="col-sm-9">
    {{ div | safe }}
    {{ script | safe }}
  </div>
</div>

{% endblock %}
